@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/AeonikPro-Regular.woff2") format("woff2"),
       url("/fonts/AeonikPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Aeonik Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/AeonikPro-Bold.woff2") format("woff2"),
       url("/fonts/AeonikPro-Bold.woff") format("woff");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background: #F4F4F2;
}

@layer base {
  body {
    font-family: "Aeonik Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Aeonik Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-weight: 700;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glowbg {
  border-radius: 32px;
  background: linear-gradient(170deg, #8758ffa3 38.95%, #5cb8e452 92.27%);
  /* background: linear-gradient(170deg, rgb(180 9 236 / 20%) 38.95%, rgba(236, 9, 9, 0.20) 92.27%); */
  /* background: linear-gradient(170deg, rgba(236, 58, 9, 0.20) 38.95%, rgba(236, 9, 9, 0.20) 92.27%); */
  filter: blur(95px);
}
.glowbg2 {
  border-radius: 32px;
  background: linear-gradient(170deg, #8758ffa3 38.95%, #5CB8E4 92.27%);
  /* background: linear-gradient(170deg, rgb(180 9 236 / 20%) 38.95%, rgba(236, 9, 9, 0.20) 92.27%); */
  /* background: linear-gradient(170deg, rgba(236, 58, 9, 0.20) 38.95%, rgba(236, 9, 9, 0.20) 92.27%); */
  filter: blur(95px);
}
